{% assign id = trmnl.plugin_settings.custom_fields_values.item_id %}

<div class="layout layout--col gap--space-between">
  <div class="item items--center">
    <img class="image" src="{{ IDX_0.item.icon_large }}" alt="{{ IDX_0.item.name }}" style="height: 100px;">
    <div class="content">
      <span class="value value--medium">{{ IDX_0.item.name }}</span>
    </div>
  </div>

  <div class="w-full b-h-gray-5"></div>

  <div class="grid grid--cols-2 gap--medium">
    <div class="item">
      <div class="content">
        <span class="label">High</span>
        <span class="value value--small">{{ IDX_1.data[id].high | number_with_delimiter }}</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="label">Low</span>
        <span class="value value--small">{{ IDX_1.data[id].low | number_with_delimiter }}</span>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <span class="label">30D</span>
        <span class="value value--small">{{ IDX_0.item.day30.change }}</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="label">90D</span>
        <span class="value value--small">{{ IDX_0.item.day90.change }}</span>
      </div>
    </div>

    <div class="item">
      <div class="content">
        <span class="label">180D</span>
        <span class="value value--small">{{ IDX_0.item.day180.change }}</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="label">GE Price</span>
        <span class="value value--small">{{ IDX_0.item.today.price }}</span>
      </div>
    </div>
  </div>
</div>