<div class="layout layout--col gap--space-between">
  <div class="grid grid--cols-2">
    <div class="item">
      <div class="content">
        <img class="image" src="{{ IDX_0.item.icon_large }}" alt="{{ item.name }} Icon" style="height: 140px; width: auto;">
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--medium">{{ IDX_0.item.name }}</span>
      </div>
    </div>
  </div>

  <div class="w-full b-h-gray-5"></div>

  <div class="grid grid--cols-4">
    <div class="item">
      <div class="content">
        <span class="value value--small">{{ IDX_0.item.day30.change }}</span>
        <span class="label">30D ({{ IDX_0.item.day30.trend }})</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--small">{{ IDX_0.item.day90.change }}</span>
        <span class="label">90D ({{ IDX_0.item.day90.trend }})</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--small">{{ IDX_0.item.day180.change }}</span>
        <span class="label">180D ({{ IDX_0.item.day180.trend }})</span>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <span class="value value--small">{{ IDX_0.item.today.price }}</span>
        <span class="label">Price ({{ IDX_0.item.today.trend }})</span>
      </div>
    </div>
  </div>
</div>