{% assign id = trmnl.plugin_settings.custom_fields_values.item_id %}

<div class="layout layout--col gap--space-between">
  <div class="grid">
    <div class="row">
      <div class="item border--0">
        <div class="meta"></div>
        <div class="content text--center" style="margin-bottom: -15px;">
          <img src="{{ IDX_0.item.icon_large }}" alt="{{ IDX_0.item.name }}" class="image h--[60cqh] lg:h--[60cqh] lg:portrait:h--[30cqh]">
        </div>
      </div>
    </div>
  </div>

  <div class="separator separator--dotted w--full"></div>

  <div class="grid grid--cols-2 lg:portrait:grid--cols-1">
    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">High</span>
        <span class="value value--xsmall lg:label--large value--tnums">{{ IDX_1.data[id].high | number_with_delimiter }}</span>
      </div>
    </div>

    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">Low</span>
        <span class="value value--xsmall lg:label--large value--tnums">{{ IDX_1.data[id].low | number_with_delimiter }}</span>
      </div>
    </div>

    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">30D</span>
        <span class="value value--xsmall lg:label--large">{{ IDX_0.item.day30.change }}</span>
      </div>
    </div>

    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">90D</span>
        <span class="value value--xsmall lg:label--large">{{ IDX_0.item.day90.change }}</span>
      </div>
    </div>

    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">180D</span>
        <span class="value value--xsmall lg:label--large">{{ IDX_0.item.day180.change }}</span>
      </div>
    </div>

    <div class="item border--0">
      <div class="meta"></div>
      <div class="content">
        <span class="label lg:label--large">GE Price</span>
        <span class="value value--xsmall lg:label--large">{{ IDX_0.item.today.price }}</span>
      </div>
    </div>
  </div>
</div>

<div class="title_bar">
  <img class="image" src="{{ IDX_0.item.icon }}">
  <span class="title">GE: {{ IDX_0.item.name }}</span>
</div>
